.sidebar {
    width:9.375rem;
    height: 100vh;
     position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
   
  overflow-x: hidden; 
  padding-top: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
box-shadow: 0px 3px 10px -3px grey;

}
.navIcon{
    width: 45px;
    height: 45px;
    color:#464646;
    margin-bottom: 1rem;
}
.active{
    color:#3788D8;
}
.navIcon:hover{
    color:#3788D8;

}
@media(max-width:790px){
.sidebar {
    width:100vw;
    height: 9.375rem;
     position: relative; 
  z-index: 1; 
  top: unset; 
  left: unset;
  overflow: unset; 


}
.navIcon{
    width: 35px;
    height: 35px;
}
}
