.theApp{
    display: flex;
}
.appMain{
    display: flex;
    justify-content: space-between;
    margin-left: 9.375rem;
    width:calc(100% - 200px);}
.dayPickerAndAppointment{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media(max-width:1075px){
    .dayPickerAndAppointment{
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}
.appMain{
    flex-direction: column;
    justify-content: center;

}
}
@media(max-width:830px){
    .dayPickerAndAppointment{
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
}
}

@media(max-width:790px){
   .theApp{
    flex-direction: column;
}
.appMain{
    margin:auto;
    width:100%;
}
}